<section class="offset-md-2 col-md-8 col-xs-12 custom-form">
  <div class="d-flex justify-content-center mt-5 content">
    <div class="col-md-10 col-xs-12 py-4">
      <div class="row">
        <div class="col-12 text-center">
          <% if user_authenticated? && is_admin?%>
            <h1 class="mb-2">Crear artículo</h1>
            <hr class="teal accent-3 mb-4 mt-0 mx-auto border-dark" style="width: 200px;">

            <div class="col-12">
              <%= render "articles/form" %>
            </div>
          <%else %>
            <h1 class="mb-2">ACCESO RESTRINGIDO</h1>
          <%end %>

        </div>
      </div>
    </div>
  </div>
</section>